<html>
  <body>
    <!-- ... -->
    <h1> Crée ton compte </h1>

    <%= form_tag url_for(action: 'create'), method: "post" do %>
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">


       <%= label_tag 'Email' %>
      <%= text_field_tag 'email' %>
      <br /> <br />

      <%= label_tag 'Password' %>
      <%= text_field_tag 'password' %>
      <br /> <br />

      <%= submit_tag "Create Post" %>

    <% end %>
    
   <!--  ... -->
  </body>
</html>


 