<div class="container text-center">
  <div class="page"></div>
<div class="row col">
 <% @gossips.each_with_index do |gossip, i| %>

<div class="card border-primary mb-3" style="max-width: 20rem;">
  <div class="card-header">Author:</b> <%=gossip.user.first_name%></div>
  <div class="card-body">
    <h4 class="card-title">Title:</b> <%=gossip.title%></h4>
    <p class="card-text"><%= link_to "Voir le gossip", gossip_path(gossip.id) %></p>
    <%= link_to "lien vers la ville de l'auteur", city_path(gossip.user.city.id)%>
    <a href="<%= edit_gossip_path(gossip.id) %>" class="btn" >Editer un article</a>
    <a href= "<%= gossip_path(gossip.id) %>" class="btn" data-confirm="êtes-vous sur?" data-method="DELETE"> Supprimer l'article </a>
   
    
  </div>
 </div>
 <%end%>

 

</div> 
</div>