<html>
  <body>

    <div class="page content col-7">
      <%= form_tag url_for(action: 'create'), method: "post" do %>
        <div class="form-group">
        <%= label_tag 'Title', name = 'Title', class: 'font-weight-bold'%>
        <%= text_field_tag 'title', nil, placeholder: 'Enter a title', class: 'form-control'%>
        <small id="emailHelp" class="form-text text-muted">3 caracters minimum and 14 caracters maximum.</small>
        </div>
        <br>

        <div class="form-group">
        <%= label_tag 'Content', name = 'Content' , class: 'font-weight-bold'%>
        <%= text_area_tag 'content', nil, rows: 6, placeholder: 'Write your gossip...', class: 'form-control'%>
        </div>
        <br><br>

        <%= submit_tag "Create Post", class: 'btn btn-primary' %>
      <% end %>
    </div>
  </body>
</html>